* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background: #f8f7f2 ;
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #fefcff;
    /* background: #6a1694; */
    text-align: center;
    margin: 128px auto;
    border-radius: 30px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 32px 0;
    color: #202926;
    font-size: 20px;
    font-family: monospace;
    font-weight: 400;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;

  }
  
  .todo-input {
    padding: 15px 32px 15px 16px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #202926;
    outline: none;
    width: 320px;
    background: transparent;
    color: #303d39;
    font-family: monospace;
    font-weight: 200;
  }
  
  .todo-input::placeholder {
    color: #303d39;
  }
  
  .todo-button {
    font-family: monospace;
    font-weight: 300;
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: #202926;
    color: #fefcff;
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: 1px solid #303d39;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #303d39;
    background: #f8f7f2;
    border: 1px, solid, #303d39;

    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  /* .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
  }
  
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%
    );
  }
  
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
  } */
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }